<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Order</title>
    <style>
      /* style the table */
      table {
        border-collapse: collapse;
        width: 100%;
      }
      th,
      td {
        text-align: left;
        padding: 8px;
      }
      tr:nth-child(even) {
        background-color: #f2f2f2;
      }
      th {
        background-color: #4caf50;
        color: white;
      }
    </style>
  </head>
  <body>
    <p>Hello,</p>
    <p>A new order <b>#<%=orderNumber %></b> has been placed</p>
    <!-- create a table showing order details -->
    <table>
      <tr>
        <th>Order Number</th>
        <th>Order Date</th>
        <th>Order Total</th>
      </tr>
      <tr>
        <td><%=orderNumber %></td>
        <td><%=orderDate %></td>
        <td><%=orderTotal %></td>
      </tr>
    </table>
  </body>
</html>
