<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password - Same Day Labs</title>
    <style>
      body {
        color: #000;
        font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
        font-size: 16px;
        line-height: 24px;
      }
    </style>
  </head>
  <body>
    <p>Hello,</p>
    <p>A password reset was requested for this email address (<%= emailAddress %>). 
        If you requested this reset, click the link below to reset your password:</p>
    <p><a href="<%= resetLink %>">Reset Your Password</a></p>
  </body>
</html>
