.btn-orange {
  background-color: #F46524 !important;
  color: white !important;
}

.btn-orange:hover {
  background-color: #da8056 !important;
  color: white !important;
}

.border-orange {
  border-color: #eea27f !important;
}

.border-orange:hover {
    border-color: #F46524 !important;
  }


.bg-light-orange {
  background-color: #f1bba1 !important;
}

.height-100 {
  height: 100% !important;
}

.font-size-12 {
  font-size: 15px !important;
  font-weight: 500;
}

.font-size-15 {
    font-size: 15px !important;
    letter-spacing: normal;
    font-weight: 400;
}

.font-size-14 {
  font-size: 13px !important;
  letter-spacing: normal;
  font-weight: 400;
}

.icon-font {
  font-size: 20px !important;
}

.text-gray {
  color: #aaa7a7 !important;
}

.position-relative {
  position: relative !important;
}

.position-absolute {
  position: absolute !important;
}
.font-size-16 {
  font-size: 16px !important;
}
.font-size-20 {
  font-size: 20px !important;
  font-weight: 600;
}

.breadcrumb-custom {
    letter-spacing: 0.5px;
    padding: 8px 24px;
    display: inline-flex;
}

.bg-navy-blue {
  background-color: #202942 !important;
  color: #fff !important;
}

.z-index-100 {
    z-index: 100 !important;
}

.visible {
    visibility: visible !important;
}

.top-10 {
    top: 19px !important;
}

.curser-pointer {
  cursor: pointer;
}

.search-close {
  right: 0;
  top: 0;
}

.profile-drop {
  min-width: 200px;
  position: absolute;
  inset: 0px auto auto 0px;
  margin: 0px;
  transform: translate(-162px, 40px);
}

.margin-lr-10 {
  margin: 0 10px;
}

.link-data {
  display: flex;
  align-items: center;
  justify-content: center;
}

.margin-tp-3rem {
  margin-top: 3rem;
}

.bg-light-gray {
  background-color: #F8F9FC !important;
}

.bg-gray {
  background-color: #EDEDED !important;
}

.padding-0 {
  padding: 0 !important;
}

.padding-top-0 {
  padding-top: 0 !important;
}

.margin-0 {
  margin: 0 !important;
}

.contact-img img {
  height: 450px !important;
}

.align-text-center {
  text-align: center !important;
}

.justify-content-space-between {
  display: flex;
  justify-content: space-between !important;
  align-items: center;
}

.bg-half-200 {
  height: 70vh !important;
  margin-top: 3rem !important;
}

.display-block {
  display: block !important;
}

.display-none {
  display: none !important;
}

.white-text {
  color: #fff !important;
}

.font-size-50 {
  font-size: 60px !important;
}

.font-size-30 {
  font-size: 30px !important;
  font-weight: 700;
  font-family: poppins, 'Roboto', sans-serif;
  word-wrap: none;
}

.border-radius-10 {
  border-radius: 1px !important;
}

.border-none {
  border: none !important;
}

.font-size-40 {
  font-size: 30px !important;
}

.items-count {
  font-size: 12px !important;
  height: 17px;
  width: 17px;
  border-radius: 50%;
  left: 15px;
  top: -8px;
}

.height-70vh {
  height: 70vh !important;
}

.bg-light-orange {
  background-color: #f8dfd5 !important;
}

.align-text-left {
  text-align: left !important;
}

.slider-title {
  font-size: 40px !important;
  color: #0D436A !important;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Roboto', poppins, sans-serif;
  word-wrap: none;
}

.margin-neg-top-120 {
  margin-top: -120px !important;
}

.margin-neg-top-20 {
  margin-top: -20px !important;
}

.margin-right-10 {
  margin-right: 10px !important;
}

.width-70 {
  width: 70% !important;
}

.margin-top-0 {
  margin-top: 0 !important;
}

.margin-top-neg-20 {
  margin-top: -20px !important;
}

.color-black {
  color: #000 !important;
  padding-right: 10px !important;
}

.padding-neg-top-20 {
  padding-top: -20px !important;
}

.padding-top-20 {
  padding-top: 20px !important;
}

.reg-log {
padding-top: -20px !important;
}

.btn-red {
  background-color: rgb(158, 7, 7) !important;
  color: white !important;
}

.float-right {
  float: right !important;
}

.margin-left-right-10 {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.page-wrapper .sidebar-wrapper .sidebar-menu .sidebar-dropdown>a:after {
  display: block !important;
  content: ' ' !important;
  background-image: url('../images/chevron-right.svg') !important;
  background-size: 10px 10px !important;
  height: 10px !important;
  width: 10px !important;
}

.page-wrapper .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu ul li a:before {
  display: inline-block !important;
  content: ' ' !important;
  background-image: url('../images/caret-right-fill.svg') !important;
  background-size: 6px 6px !important;
  height: 6px !important;
  width: 6px !important;
}

.breadcrumb .breadcrumb-item:first-child:after {
  display: inline-block !important;
  content: ' ' !important;
  background-image: url('../images/chevron-right.svg') !important;
  background-size: 10px 10px !important;
  height: 10px !important;
  width: 10px !important;
}

.profile-width {
  position: absolute;
  inset: 0px auto auto 0px;
  margin: 0px;
  transform: translate3d(-162px, 40px, 0px);
}

.modal-blur {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

@media screen and (max-width: 1550px) {
  .height-70vh {
    height: 85vh !important;
  }
}

